body {
    background-color: rgb(33, 37, 41)
}

#a1 {
    width: 80px;
    height: 35px;
}

h6 {
    padding-top: 5px;
}

#b8 {
    width: 20px;
    height: 20px;
}

section {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(33, 37, 41)
}

main {
    margin-left: 20px;
    margin-right: 20px;
}

h3 {
    color: white;
    padding-right: 30px;
}

.btn.btn-dark.dropdown-toggle {
    border-radius: 0px;
    border: 1px solid gray;
}

.a2 svg {
    color: white;
}

#a3 {
    width: 16px;
    height: 16px;
}

#a4 {
    width: 17px;
    height: 17px;
}

.d-flex.align-items-center.grid.gap-3 {
    color: white;
}

.nav-link {
    color: white !important
}

h4 {
    color: white;
}

.row {
    margin-top: 40px;
}

.col-12.col-md-6.col-lg-3 {
    color: white;
}

.container.text-start {
    width: 880px
}

.row.justify-content-center {
    margin-top: 120px;
}

.col-12.col-md-6.col-lg-3.gy-3.s7 svg {
    width: 30px;
    height: 30px;
   
}
   

.col-12.col-md-6.col-lg-3.gy-3.s7 {
   margin-top: -30px;

}

.btn.dropdown-toggle {
    background-color: black;
    color: white;
}



